/* CSS RESET START */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* CSS RESET END */

/*******************/

/* Start Here */

/* Root Variables */

:root {
    --main-bg-color: #121212;
    --main-font-color: #DCDCDC;
    --main-button-color: #5e92f5;
    --alt-button-color: #395b9b;

}

/* Page Structure */

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

/* Typography */

#page-title {
    font-weight: bolder;
}

#page-sub-title {
    font-weight: lighter;
}

a:link, a:visited {
    background-color: var(--main-button-color);
    color: var(--main-font-color);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    background-color: var(--alt-button-color);
}

a:active {
    background-color: var(--main-button-color);
}

/* Flexbox */

#page-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    padding: 2rem 0;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    background-color: var(--main-bg-color);
    font-size: 1rem;
    align-self: center;
}

/* Custom Fonts */

#page-title {
    margin: 2rem;
}

/* Forms */

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: var(--main-button-color);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: var(--alt-button-color);
}

/* Table Styles */

table {
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: var(--main-bg-color);
}

td, th {
    background-color: var(--main-bg-color);
    text-align: center;
    padding: 8px;
}

td {
    border-right: 1px solid #f8f8f8;
    font-size: 1rem;
}

thead th {
    color: #ffffff;
    background: #4FC3A1;
}


thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

tr:nth-child(even) {
    background: #F8F8F8;
}