{% extends'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
    <!-- title area -->
    <header>
        <p id="page-title">TODO App</p>
    </header>
    <!-- main content area -->
    <main id="content-wrap">
        <!-- section 1 -->
        <section>

            {% if todos|length < 1 %}
                <h3 id="page-sub-title">There are currently no todo items to complete.</h3>
                <br/>
                <h4>Get started by adding one by using the form below.</h4>
            {% else %}
                <table>
                    <tr>
                        <th>TODO</th>
                        <th>Added</th>
                        <th>Actions</th>
                    </tr>
                    {% for todo in todos %}
                        <tr>
                            <td>{{ todo.content }}</td>
                            <td>{{ todo.date_created.date() }}</td>
                            <td class="button"><a href="/delete/{{ todo.id }}">Delete</a> or <a href="/update/{{ todo.id }}">Update</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}

            <br/>

            <form action="/" method="POST">
                <input type="text" name="content" id="content">
                <input type="submit" value="Add Task">
            </form>

        </section>
        <!-- section 2 -->
    </main>
    <footer id="footer">Built by <a href="https://josephdubon.com">Joseph Dubon</a> with a computer and a lot of ❤️</footer>
{% endblock %}