{% extends'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
    <!-- title area -->
    <header>
        <h1>TODO App</h1>
    </header>
    <!-- main content area -->
    <main id="content-wrap">
        <!-- section 1 -->
        <section>
            <table>

                <tr>
                    <th>TODO</th>
                    <th>Added</th>
                    <th>Actions</th>
                </tr>

                <tr>
                    <td></td>
                    <td><a href="">Delete</a></td>
                    <br/>
                    <td><a href="">Update</a></td>
                    <td></td>
                </tr>

            </table>
        </section>
        <!-- section 2 -->
    </main>
    <footer id="footer">Built with Flask/Python and a lot of ❤️</footer>
{% endblock %}